.page-header > div {
    max-width: 1300px;
}


.row:nth-child(2) {
    border-radius: 10px;
}

.row:nth-child(2) > div {
    padding: 12px;
}

@media screen and (min-width: 768px) {
    .row:nth-child(2) > div {
        padding: 18px;
    }
}

@media screen and (min-width: 992px) {
    .row:nth-child(2) > div {
        padding: 20px 25px;
    }
}


.navbar-brand img {
    width: 4rem;
}

.donate-btn {
    padding: 10px 10.5px;
    background-color: #eec1da;
    border: 1px solid #582d45;
}

.donate-btn span {
    font-size: .95rem;
    font-weight: 600;
    color: #582d45;
}

@media screen and (min-width: 992px) {
    .donate-btn {
        padding: .5rem 1rem;
        background-color: #eec1da;
        border: 1px solid #582d45;
    }
}