.navbar-toggler {
    border: none;
}

.navbar-toggler span {
    font-size: 1.5rem;
    color: #582d45;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .navbar-toggler span {
        font-size: 1.75rem;
    }
}

.nav-item {
    padding: 0 1.25rem;
}

.nav-item button {
    font-size: 14px;
    color: #582d45;
    font-weight: 600;
    text-transform: uppercase;
}